:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Apply to entire app */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1); /* dark gray */
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

[data-nextjs-dialog] {
  display: none !important;
}

.tableCellStyle {
  font-size:11px !important;
  color: #000 !important;
  border-bottom: 0.2px solid #ccc !important;
  font-family: Inter, system-ui, sans-serif !important;
}
 .tableCellStyle:hover{
  background-color: F4F6FA;
 }

 .tableRowStyle:hover{
  background-color: #F4F6FA;
 }

 .labelSize {
  font-size: 10px !important;
  font-weight: 500 !important;
 }

 .textFieldSize{
  font-size: 12px !important;
 }